<div class="nav">
  <div class="nav__box">
    <div class="nav__box__title">
      <a href="/">Dooboolog</a>
    </div>
    <div class="nav__box__menu">
      <ul>
        <li>
          <a href="/">blog</a>
        </li>
        <li>
          <a href="/">about</a>
        </li>
        <li>
          <a href="/">♥</a>
        </li>
      </ul>
    </div>
  </div>
</div>