<div class="top">
  <div class="top__box">
    <div class="top__box__wrapper">
      <div class="top__box__title">
        <a href="/">Dooboolog</a>
      </div>
      <div class="top__box__menu">
        <ul>
          <li>
            <a href="/post/list">blog</a>
          </li>
          <li>
            <a href="/about">about</a>
          </li>
          <li>
            <a href="/">♥</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
