* {
  box-sizing:border-box;
}

a {
  color: #333;
  text-decoration: none;
}

ul {
  list-style: none;
}

button.lined.thin {
  border:solid 2px #41403E;
}

/* https://codepen.io/tmrDevelops/pen/VeRvKX?limit=all&page=3&q=button */
button {
  align-self:center;
  background:transparent;
  padding:1rem 1rem;
  margin:0 1rem;
  transition:all .5s ease;
  color:#41403E;
  font-size:1.5rem;
  letter-spacing:1px;
  outline:none;
  box-shadow: 20px 38px 34px -26px hsla(0,0%,0%,.2);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}
button:hover{
  box-shadow:2px 8px 4px -6px hsla(0,0%,0%,.3);
}
button.dashed.thin {
  border:dashed 2px #41403E;
}

body {
  color: #333;
  background-color: #ffffff;
  font-family: Malgun Gothic,"맑은 고딕","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 300;
  font-size: 14px;
  margin: 0;
}

.top {
  width: 100%;
  height: 80px;
}

.top__box {
  width: 100%;
  height: 80px;
  background-color: #ffffff;
}

.top_fix {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #dde;
  background-color: rgba(255, 255, 255, 0.8);
}

.top__box__wrapper {
  width: 1000px;
  height: 80px;
  padding: 25px 20px 0;
  margin: 0 auto;
}

.top__box__title {
  float: left;
  width: 200px;
  height: 36px;
}
.top__box__title > a {
  font-family: 'Indie Flower', cursive;
  font-size: 30px;
  font-weight: bold;
  color: #999;
}

.top__box__menu {
  padding-top: 16px;
  float: left;
}
.top__box__menu > ul {
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.top__box__menu > ul > li {
  float: left;
  width : 100px;
  height: 20px;
  border : 0;
}

.top__box__menu > ul > li > a {
  font-size: 16px;
  cursor: pointer;
  color: #666;
}
.top__box__menu > ul > li > a:hover {
  color: #ccc;
}

.section {
  background-color: #fff;
  width: 1000px;
  height: 800px;
  padding: 50px 0;
  margin: 0 auto;
}

footer {
  float: left;
  margin-top: 75px;
  padding-top: 50px;
  width: 100%;
  height: 100px;
  border-top: 1px solid #ccc;
}

footer > div {
  color: #ccc
}