<!doctype html>
<!--[if lte IE 7 ]><html class="lt-ie9 lt-ie8" lang="ko-KR"><![endif]-->
<!--[if IE 8 ]><html class="lt-ie9" lang="ko-KR"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="ko-KR"><!--<![endif]-->
<head>
  <meta charset="utf-8"/>
  <title>두부로그</title>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
</head>
<body data-reference='{"profile":""}'>
  {{> layout/topbar}}
  {{#block "section"}}{{/block}}
  {{> layout/script}}
  <link rel="stylesheet" type="text/css" href="resources/css/main.css">
</body>
</html>
