{{#partial "section"}}
	<section class="cate-block">
		{{> post/post}}
	</section>
	<nav class="cate-list">
		<ul>
			{{#each categories}}
				<li>
					<a href="#">
						{{categoryName}}
					</a>
				</li>
			{{/each}}
		</ul>
	</nav>
{{/partial}}
{{#partial "css"}}
	<link rel="stylesheet" type="text/css" href="/resources/css/post/post.css">
{{/partial}}
{{> layout/layout}}
