{{#partial "section"}}
	<div class="form-title">
		<input type="text" placeholder="제목을 입력하랑!!">
	</div>
	<div class="form-content">
		<textarea placeholder="본문을 입력하랑!!"></textarea>
	</div>
	<button class="dashed thin" id="cancel">취소</button>
	<button class="lined thin" id="write">글쓰기</button>
{{/partial}}
{{#partial "css"}}
	<link rel="stylesheet" type="text/css" href="/resources/css/post/newForm.css">
{{/partial}}
{{> layout/layout}}
